{% extends 'meetup/layout.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="cd">
        <div class="cd card">
            <div class="card-features">
                <div class="card-feature">
                    <span>&check;</span>
                    <h5>Quick and free sign-up</h5>
                    <p>Enter your email address to create an account</p>
                </div>

                <div class="card-feature">
                    <span>&check;</span>
                    <h5>Schedule Zoom Meetings</h5>
                    <p>Choose a slot and book a zoom meet</p>
                </div>

                <div class="card-feature">
                    <span>&check;</span>
                    <h5>Add to Google Calendar</h5>
                    <p>Link your Google Calendar and get reminder notifications</p>
                </div>
            </div>

            <div class="card-form">
                <!-- Card form template -->
                <h4>Account sign-up</h4>

                <form action="{% url 'login_view' %}" method="post">
                    {% csrf_token %}
                    <div class="form-item">
                        <label for="username">Username</label>
                        <input required type="username" name="username" placeholder="Enter username" />
                    </div>

                    <div class="form-item">
                        <label for="password">Password</label>
                        <input required type="password" name="password" id="password" placeholder="Enter your password" />
                    </div>

                    <div class="form-check">
                        <input type="checkbox" id="get-updates" />
                        <label for="get-updates">
                            Remember Me
                        </label>
                    </div>

                    Don't have an account? <a href="{% url 'register' %}">Register here.</a><br><br>

                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}